#openssl rand -base64 32 | tr -d '\n'
FERNET_SECRET=pass
NGINX_SHARED_TOKEN=pass
COOKIE_SIGN_SECRET=pass
SERVER_DOMAIN=<SEU_IP>
BACKEND_PROTO=pass


OPENAI_API_KEY='example-code'
OPENAI_API_BASE_URL=https://openrouter.ai/api/v1
OPENAI_MODEL='qwen3-coder-next'



POSTGRES_USER=nginx_user
POSTGRES_NGINX_PASSWORD=pass
POSTGRES_DB=nginx
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_NGINX_PASSWORD}@postgres:5432/${POSTGRES_DB}